@charset "UTF-8";
/* Body */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	font-family: pj_GR;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	scroll-behavior: smooth;
	transition: 2s;
	min-width: fit-content;
}
h2{
	margin:40px;
	font-size: 45px;
	color: #025800;
}
.center {
	align-content: center;
	text-align: center;
}
/* Mobile Nav */
#myLinks {
  display: none;
transition: 0.7s;
}
.icon {
	float: right;
	font-size: 45px;
	color: whitesmoke;
	margin-top: 10px;
	margin-right: 40px;
	visibility:hidden;
	opacity: 0%;
	transition-duration: 0.7s;
}
.icon a {
	transition: 0.7s;
}
.icon :hover {
	color:#46BA6D;
	transition: 0.7s;
	font-size: 50px;
}
.topnav {
  overflow: hidden;
  background-color: #4AAB4E;
	position: fixed;
	right: 0;
	top: 80px;
	width: 45%;	
	opacity: 100;
	transition: 0.7s;
	z-index: -2;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
transition: 2s;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
transition: 1s;
}

.topnav a:hover {
  background-color: #ddd;
  color:#1F842B;
transition: 1s;
	font-size: 20pt;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.butt{
	padding-top: 15px;
	font-size:50px;
	color: #ffffff;
	transition-duration: 1s;
}
.button_hover:hover {
	color: #979797;
	font-size:60px;
	padding-top:30px;
}
/* Container */
.container {
	width: 100%;
	right: 0;
	left: 0;
}
/* Navigation */
header {
	width: 100%;
	height: 200px;
	background-image: url("../Eliments/Navback.png");
	background-repeat: no-repeat;
	z-index: 20;
	position: fixed;
	top: 0px;
}
.logo {
	
	letter-spacing: 4px;
	transition-duration: 0.7s;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: -45px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 8px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
	transition-duration: 0.7s;
}
ul li:hover a {
	color: #46BA6D;
	font-size: 25px;
	transition-duration: 0.7s;
}
/* Parallax Section */
.banner {
	background-image: url("../images/Maps Background.png");
	height: 800px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 150px;
	padding-top: 250px;
	padding-bottom: 200px;
	letter-spacing: 2px;
	margin-top: -255px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: -200px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

form {
	padding: 10em 0em;
	background-color: rgba(0, 102, 1, 0.5);
	border-radius: 60px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
	margin-left: 50px;
  display: inline-block;
font-size: 30px;
	color:#4AFF53;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-right: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-image: url("../Eliments/Splatter Background light.png");
  padding: 20px;
	
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 90%;
    margin-top: 0;
  }
	input[type=submit] {
  margin-right: 20px;
  margin-left: 20px;
}
	label {
	margin-left: 10px;
	}
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image:url("../Eliments/Splatter Background.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	padding-top: 150px;
	padding-bottom: 200PX;
	margin-bottom: 0px;
	background-image:url("../images/About Card Rev.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Small Tablets and mobile */
@media only screen and (max-width: 767px) {
		.icon {
		visibility:visible;
		opacity: 100%;
		transition-duration: 0.5s;
	}
	nav {
		visibility: hidden;
		opacity: 0%;
		transition-duration: 0.5s;
	}
	.logo {
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: -100px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0%;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
	.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1025px) {
		.icon {
		visibility:visible;
		opacity: 100%;
		transition-duration: 0.5s;
	}
	nav {
		visibility: hidden;
		opacity: 0%;
		transition-duration: 0.5s;
	}
	.gallery {
		background-image: url("../Eliments/Splatter Background.png");
	}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
	.parallax {
		padding-top: 400px;
	}
  
}
[data-scroll] {
	transition: all 2s;
}

[data-scroll='in'] {
	opacity: 1;
	transform: translateX(0);
}

[data-scroll='out'] {
	opacity: 0;
	transform: translateX(-200px);
}
.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa:hover {
    opacity: 0.7;
	transition: 2s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 50px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
border-radius:100px ;
	transition: 2s;
	
}
.social-icons {
	padding: 50px;
	background-color: rgba(0, 102, 1, 0.5);
	border-radius: 60px;
	text-align: center;
	margin-top: 30px;

}